
@{
    ViewData["Title"] = "Adventure";
}

<section class="content">
    
    <div style="justify-content:center; text-align:center;"> 

        <h1>Adventure</h1> 

        <div> 

            <h1> Lorem Ipsum </h1>

        </div> 

    </div>
    
</section>


