
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="sector">   

    <div class="gyalcontainer" > 
        

        <div class="gyal"> 
            <a target="_blank" href="Confluence - Natures Jacuzzi.jpeg">
                <img src="~/css/imgs/Confluence - Natures Jacuzzi.jpeg" alt="Jacuzzi" width="600" height="400">
            </a>
            <div class="desc"> Confluence - <br /> Natures Jacuzzi </div>
        </div>

        

        <div class="gyal">
            <a target="_blank" href="Roaring River .jpeg">
                <img src="~/css/imgs/Roaring River .jpeg" alt="River" width="600" height="400">
            </a>
            <div class="desc"> Roaring River </div>
        </div>

        
        
        <div class="gyal">
            <a target="_blank" href="Rustic Scenery - Garden Bed  2.jpeg">
                <img src="~/css/imgs/Rustic Scenery - Garden Bed  2.jpeg" alt="Garden" width="600" height="400">
            </a>
            <div class="desc"> Rustic Scenery - <br /> Garden Bed  2 </div>
        </div>

        
        
        <div class="gyal">
            <a target="_blank" href="Food - Curried Ackee.jpeg">
                <img src="~/css/imgs/Food - Curried Ackee.jpeg" alt="Ackee" width="600" height="400">
            </a>
            <div class="desc"> Food - <br /> Curried Ackee </div>
        </div> 


    </div>

    <br />
    <br />
    <br /> 

    <div class="motion">

        <div class="horse">

            <video height="200" width="400" controls>
                <source src="~/css/imgs/Horseback Riding.mp4" />
            </video>

            <h3> Yardy Horseback Riding </h3>

        </div> 

    </div>



    <br />
    <br />
    <br />
    <br />
    <br />
    <br /> 

</section>

