
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="font-family:'Bodoni MT'"> Images </h1>

<div class="gallery-container">

    <div class="gallery-item-new">
        <img src="~/css/imgs5/a-great-day-of-tubing(1).jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs5/chilling-like-a-yatdy.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs5/down-the-river.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs5/photo0jpg.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/BP1003.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/Healing_Jacuzzi_girls_with_camera.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/PL1001.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT_10102.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT_01001.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT_1003.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT_10101.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT_10103.jpg" alt="">
    </div>

</div>

<div class="gallery-container">

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT_10104.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT1002.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT1005.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy of BP10001.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy of RT 01001.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy of RT 10102.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy of RT 10103.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy of RT1009.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_HB_1001.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_HB_1002.jpg" alt="">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_HP_1003.jpg" alt="">
    </div>

</div>



<div class="gallery-container">

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT1007.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT1008.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT1009.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/WHITE_WATER_RAFTING - 2.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs5/what-a-great-time-bring.jpg" width="160" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs5/wow-best-river-adventures.jpg" width="160" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/LS1001.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/LS1002.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/LS1003.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/LS1004.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/LS1005.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/LS1006.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/LS1007.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs5/this-is-just-a-glimpse.jpg" alt="" width="205" height="200">
    </div>

</div>



<div class="gallery-container">

    <div class="gallery-item-new">
        <img src="~/css/imgs5/have-you-ever-gone-river.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/BP10001.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/HP_1004.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/HP1005.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/RT1006.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs7/HB_1002.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_LS1001.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_LS1002.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_LS1003.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_LS1004.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_LS1005.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_LS1006.jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_LS1007(1).jpg" alt="" width="205" height="200">
    </div>

    <div class="gallery-item-new">
        <img src="~/css/imgs9/Copy_of_RT1008.jpg" alt="" width="205" height="200">
    </div>

</div>

<br />
<br />

<h1 style="font-family:'Bodoni MT'"> Videos </h1>


<div class="gallery-container">

    <video class="gallery-item" autoplay loop muted playsinline controls>
        <source src="~/css/vidz1/BP1002.MOV" />
    </video>

    <video class="gallery-item" autoplay loop muted playsinline controls>
        <source src="~/css/vidz1/Family Fun.mp4" />
    </video>

    <video class="gallery-item" autoplay loop muted playsinline controls>
        <source src="~/css/vidz1/half-day-adventure-yardy-rush_13rVGeED.mp4" />
    </video>

    <video class="gallery-item" autoplay loop muted playsinline controls>
        <source src="~/css/vidz1/Horseback Riding.mp4" />
    </video>

    <video class="gallery-item" autoplay loop muted playsinline controls>
        <source src="~/css/vidz1/Perfect for Nature Lovers .mp4" />
    </video>

    <video class="gallery-item" autoplay loop muted playsinline controls>
        <source src="~/css/vidz1/RT CLIP 1001.mp4" />
    </video>

    <video class="gallery-item" autoplay loop muted playsinline controls>
        <source src="~/css/vidz1/RT Clip 1002.mp4" />
    </video>

    <video class="gallery-item" autoplay loop muted playsinline controls>
        <source src="~/css/vidz1/ThrillingRapids.mp4" />
    </video>

    <video class="gallery-item" autoplay loop muted playsinline controls>
        <source src="~/css/vidz1/YARDY HORSEBACK RIDING.mp4" />
    </video>

    <video class="gallery-item" autoplay loop muted playsinline controls>
        <source src="~/css/vidz1/yardy-river-tubing_EoGtJXvQ.mp4" />
    </video>

</div>



<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Services">
    <div class="press">
        <h4> Back </h4>
    </div>
</a>

<br />
<br />
<br /> 

