
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="sector">   

    <div class="gyalcontainer"> 

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Photo1">
            <div class="gyal">
                 <img src="~/css/imgs/Confluence - Natures Jacuzzi.jpeg" width="150" height="200"/>
            </div>
        </a>

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Photo2">
            <div class="gyal">
                <img src="~/css/imgs/Roaring River .jpeg" width="150" height="200" />
            </div>
        </a>
        
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Photo3">
            <div class="gyal">
                <img src="~/css/imgs5/we-had-a-blast-river.jpg" width="150" height="200" />
            </div>
        </a> 

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Photo4">
            <div class="gyal">
                <img src="~/css/imgs/Food - Curried Ackee.jpeg" width="150" height="200" />
            </div>
        </a> 
        
    </div>

    <br />
    <br />
    <br /> 

    <div class="gyalcontainer">

        <div class="horse">

            <video height="290" width="490" controls>
                <source src="~/css/imgs/Horseback Riding.mp4" />
            </video>

        </div>

    </div>

    <div class="gyalcontainer">

        <h3 style="color:#427A27;"> Yardy Horseback Riding </h3>

    </div>

</section>

<br />
<br />
<br /> 

<section> 

    <div class="btn btn-group" style="background-color:#2BA9EA;">

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Services">

            <h4 style="color:white"> Back </h4>

        </a>

    </div>

</section> 

<br />
<br />
<br /> 

