
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="both-sides">

    <div class="left-side">

        <div class="gyalcontainer">

            <div class="gyal2">
                <img src="~/css/imgs5/a-great-day-of-tubing(1).jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs5/chilling-like-a-yatdy.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs5/down-the-river.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs5/photo0jpg.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/BP1003.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/Healing_Jacuzzi_girls_with_camera.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/PL1001.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT_10102.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT_01001.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT_1003.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT_10101.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT_10103.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT_10104.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT1002.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT1005.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT1007.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT1008.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT1009.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/WHITE_WATER_RAFTING - 2.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs5/what-a-great-time-bring.jpg" width="160" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs5/wow-best-river-adventures.jpg" width="160" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/LS1001.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/LS1002.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/LS1003.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/LS1004.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/LS1005.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/LS1006.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/LS1007.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs5/this-is-just-a-glimpse.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs5/have-you-ever-gone-river.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/BP10001.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/HP_1004.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/HP1005.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/RT1006.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs7/HB_1002.jpg" alt="" width="205" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs2/Yardy Horseback Riding 2.jpeg" alt="Jacuzzi" width="190" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs2/Yardy Park Life 2.jpeg" alt="River" width="190" height="200">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs2/Yardy River Tubing 2.jpeg" alt="Garden" width="190" height="170">
            </div>

            <div class="gyal2">
                <img src="~/css/imgs2/Yardy River Walk 2.jpeg" alt="Ackee" width="190" height="200">
            </div>

        </div>

    </div>









    <div class="right-side">

        <div class="gyalcontainer">

            <div class="horse">

                <video class="horsevidz" controls>

                    <source src="~/css/vidz1/Family Fun.mp4" />

                </video>

                <div class="gyalcontainer">

                    <h3 style="color:#427A27;">  </h3>

                </div>

            </div>

            <div class="horse">

                <video class="horsevidz" controls>

                    <source src="~/css/vidz1/BP1002.MOV" />

                </video>

                <div class="gyalcontainer">

                    <h3 style="color:#427A27;">  </h3>

                </div>

            </div>

            <div class="horse">

                <video class="horsevidz" controls>

                    <source src="~/css/vidz1/Half Day Adventure - YARDY RUSH.mp4" />

                </video>

                <div class="gyalcontainer">

                    <h3 style="color:#427A27;">  </h3>

                </div>

            </div>

            <div class="horse">

                <video class="horsevidz" controls>

                    <source src="~/css/vidz1/Perfect for Nature Lovers .mp4" />

                </video>

                <div class="gyalcontainer">

                    <h3 style="color:#427A27;">  </h3>

                </div>

            </div>

            <div class="horse">

                <video class="horsevidz" controls>

                    <source src="~/css/vidz1/RT CLIP 1001.MOV" />

                </video>

                <div class="gyalcontainer">

                    <h3 style="color:#427A27;">  </h3>

                </div>

            </div>

            <div class="horse">

                <video class="horsevidz" controls>

                    <source src="~/css/vidz1/ThrillingRapids.mp4" />

                </video>

                <div class="gyalcontainer">

                    <h3 style="color:#427A27;">  </h3>

                </div>

            </div>

            <div class="horse">

                <video class="horsevidz" controls>

                    <source src="~/css/vidz1/YARDY RIVER TUBING .mp4" />

                </video>

                <div class="gyalcontainer">

                    <h3 style="color:#427A27;">  </h3>

                </div>

            </div>

        </div>

        <br />
        <br />

        <div class="gyalcontainer">

            <div class="horse">

                <video class="horsevidz" controls>

                    <source src="~/css/vidz1/YARDY HORSEBACK RIDING.mp4" />

                </video>

                <div class="gyalcontainer">

                    <h3 style="color:#427A27;">  </h3>

                </div>

            </div>

            <div class="horse">

                <video class="horsevidz" controls height="340" width="490">

                    <source src="~/css/vidz1/Horseback Riding.mp4" />

                </video>

                <div class="gyalcontainer">

                    <h3 style="color:#427A27;">  </h3>

                </div>

            </div>

        </div>

    </div>

</div> 

<br/>
<br /> 

<div class="btn-primary">

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Services">

        <h4 style="color:white"> Back </h4>

    </a>

</div>

<br />
<br />
<br /> 

