@{
    ViewData["Title"] = "Home Page";
}


<section>

    <div style="text-align:center">

        <h3>Jamaica’s Best <br /> Eco-Tourist Attraction</h3>
        <p>
            Rustic, tranquil and unscathed<br />
            landscapes set the stage for boundary<br />
            less experiences in the park and the<br />
            surrounding communities of the once<br />
            booming sugar cane belt, hillside farms<br />
            and modern technology driven farms.
        </p>
        <br />
        <br />
        <p>
            Indulge in the Jamaica’s<br />
            culture, history and out of many one<br />
            infused cuisine on the riverbed’s of our<br />
            limestone purified rushing waters from<br />
            the Roaring River that flows into the<br />
            stiller and relaxing Cabaritta awaits you.
        </p>
        <br />
        <br />
        <p>
            Completely Off The Beaten Track…
        </p>
        <br /><br />
        <p>
            Yardy River Adventures is a Unique<br />
            Lush Rustic Paradise
        </p>



        <p></p> 
    </div>

</section> 


