@{
    ViewData["Title"] = "Home Page";
}


<section style="color:#427A27;">

    <div style="text-align:center; justify-content:center;">

        <h1 class="usergreeting">WELCOME BACK !</h1>
          
        <br />
        <br /> 

        <p>User Id: @ViewData["UserID"]</p>

        <h3>
            Jamaica’s Best 
            Eco-Tourist Attraction
        </h3>

        <p class="usermessage">
            Rustic, tranquil and unscathed<br />
            landscapes set the stage for boundary
            less experiences in the park and the<br />
            surrounding communities of the once
            booming sugar cane belt, hillside farms<br />
            and modern technology driven farms.
        </p>

        <br />
        <br />

        <p class="usergreeting">

            Indulge in the Jamaica’s
            culture, history and out of many one<br />
            infused cuisine on the riverbed’s of our
            limestone purified rushing waters from<br />
            the Roaring River that flows into the
            stiller and relaxing Cabaritta awaits you.

        </p>

        <br />
        <br /> 

        <p class="usermessage">
            Completely Off The Beaten Track…
        </p>

        <br />
        <br /> 
        
        <p class="usergreeting">

            Yardy River Adventures is a Unique<br />
            Lush Rustic Paradise

        </p> 

        <a class="nav-link text-dark" style="justify-content:center;" asp-area="" asp-controller="Home" asp-action="Services">
            <div class="press">
                <h4> Services </h4>
            </div>
        </a>

    </div> 

</section> 


