
@{
    ViewData["Title"] = "Independent Seller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content" style="justify-content:center; text-align:center;">

    <h1>Independent Seller</h1>

    <h2>
        Explore     Promote      Earn
    </h2>
    <br />


    
    <br />


    <div>

        <h1>Join the Yardy Community </h1>
        <br />

        <p>
            The tours, attraction and activities (TAA) sector of the travel industry is in<br />
            growth mode.  Increasing number of travelers are seeking immersive<br />
            experiences and thrilling adventures.<br />
        </p>
        <br>

        <p>
            True to our vision, To Innovate Adventures, Preserve Culture and<br />
            Advance Communities, Yardy has a rich rich product portfolio and unique<br />
            selling prepositions that are appealing to both local and international<br />
            travelers.
        </p>
        
        <br><br /> 

        <div class="w-30 btn btn-lg btn-primary">

            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Community">

                <h4>Register Now</h4>

            </a> 

        </div> 

        <br />
        <br /> 

        <div>

            <img src="~/css/imgs/Picture ISP Banner.png" height="300" width="500" />

        </div>

        <br /><br /> 

        <div>

            <img src="~/css/imgs/Picture ISP Benefits.png" height="300" width="500" />

        </div>

        <h1>
            Terms of Reference
        </h1> 

        <div class="w-30 btn btn-lg btn-primary">

            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Community">

                <h4>Register Now</h4>

            </a>

        </div> 

    </div>

</div>





