
@{
    ViewData["Title"] = "Photo1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="sector">
     
    <div class="gyalcontainer">

        <div class="gyal2">
            <img src="~/css/imgs5/a-great-day-of-tubing(1).jpg" alt="Jacuzzi" width="140" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs5/chilling-like-a-yatdy.jpg" alt="River" width="190" height="140">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs5/down-the-river.jpg" alt="Garden" width="190" height="170">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs5/photo0jpg.jpg" alt="Ackee" width="140" height="200">
        </div> 

    </div> 

    <br />
    <br />
    <br />
 
</section>

<br />
<br />


<div class="btn btn-group" style="background-color:#2BA9EA;">

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gallery">

        <h4 style="color:white">Back to View Gallery</h4>

    </a>

</div>





