
@{
    ViewData["Title"] = "Photo2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sector">

    <div class="gyalcontainer"> 

        <div class="gyal2">
            <img src="~/css/imgs7/LS1001.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/LS1002.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/LS1003.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/LS1004.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/LS1005.jpg" alt="" width="205" height="200">
        </div> 

        <div class="gyal2">
            <img src="~/css/imgs7/LS1006.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/LS1007.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs5/this-is-just-a-glimpse.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs5/have-you-ever-gone-river.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/BP10001.jpg" alt="" width="205" height="200">
        </div>

    </div>

</section>

<br />
<br />
<br />


<div class="btn-primary">

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gallery">

        <h4 style="color:white">Back to View Gallery</h4>

    </a>

</div> 


    


