
@{
    ViewData["Title"] = "Photo1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="sector">
     
    <div class="gyalcontainer">

        <div class="gyal2">
            <img src="~/css/imgs5/a-great-day-of-tubing(1).jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs5/chilling-like-a-yatdy.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs5/down-the-river.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs5/photo0jpg.jpg" alt="" width="205" height="200"> 
        </div> 

        <div class="gyal2">
            <img src="~/css/imgs7/BP1003.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/Healing_Jacuzzi_girls_with_camera.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/PL1001.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/RT_10102.jpg" alt="" width="205" height="200">
        </div> 

        <div class="gyal2">
            <img src="~/css/imgs7/RT_01001.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/RT_1003.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/RT_10101.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/RT_10103.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/RT_10104.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/RT1002.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/RT1005.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/RT1007.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/RT1008.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/RT1009.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs7/WHITE_WATER_RAFTING - 2.jpg" alt="" width="205" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs5/what-a-great-time-bring.jpg" width="160" height="200">
        </div> 

        <div class="gyal2">
            <img src="~/css/imgs5/wow-best-river-adventures.jpg" width="160" height="200">
        </div>

    </div>

    <br />
    <br />
    <br />
 
</section>

<br />
<br />


<div class="btn btn-group" style="background-color:#2BA9EA;">

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gallery">

        <h4 style="color:white">Back to View Gallery</h4>

    </a>

</div>





