
@{
    ViewData["Title"] = "Photo4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gyalcontainer">

    <div>

        <img src="~/css/imgs/Food - Curried Ackee.jpeg" alt="Jacuzzi" width="100%" height="auto">
        <div class="centered4"> Food - Curried Ackee </div>

    </div>

</div>

<br />
<br />


<div class="btn btn-group btn-primary">

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gallery">

        <h4 style="color:white">Back to View Gallery</h4>

    </a>

</div>

    

