
@{
    ViewData["Title"] = "Photo4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sector">

    <div class="gyalcontainer">

        <div class="gyal2">
            <img src="~/css/imgs2/Yardy Horseback Riding 2.jpeg" alt="Jacuzzi" width="190" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs2/Yardy Park Life 2.jpeg" alt="River" width="190" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs2/Yardy River Tubing 2.jpeg" alt="Garden" width="190" height="170">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs2/Yardy River Walk 2.jpeg" alt="Ackee" width="190" height="200">
        </div>

    </div> 

</section>

<br />
<br />
<br />

<div class="btn-primary">

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gallery">

        <h4 style="color:white">Back to View Gallery</h4>

    </a>

</div> 

    

