
@{
    ViewData["Title"] = "Photo2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sector">

    <div class="gyalcontainer">

        <div class="gyal2">
            <img src="~/css/imgs5/this-is-just-a-glimpse.jpg" alt="Jacuzzi" width="199" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs5/have-you-ever-gone-river.jpg" alt="River" width="199" height="200">
        </div>

        <div class="gyal2">
            <img src="~/css/imgs/Rustic Scenery - Garden Bed  2.jpeg" alt="Scenery" width="150" height="200" /> 
        </div>

    </div> 

    <br />
    <br />
    <br />

</section>

<br />
<br />


<div class="btn btn-group" style="background-color:#2BA9EA;">

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gallery">

        <h4 style="color:white">Back to View Gallery</h4>

    </a>

</div> 


    


