
@{
    ViewData["Title"] = "Services";
}

<h1>Services</h1>

<section>

    <div class="slideshow-container"> 

        <h1>explore your wild side!</h1> 

        <div class="mySlides fade">

            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Adventure">
                <div class="btnpr">
                    <img src="~/css/imgs/Yardy River Tubing.jpeg" width="400px" height="500px"> <br /> 
                    <h1 class="book" style="color:#28B9F5">Book Now</h1>
                </div>
            </a>
            <div>
                <h1 style="color:#427A27">Yardy River Tubing</h1><br />
                <div class="numbertext2">
                    <h3>1 / 5</h3>
                </div>
            </div>
        </div>


        <div class="mySlides fade">

            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Adventure">
                <div class="btnpr">
                    <img src="~/css/imgs/Yardy River Walk.jpeg" width="400px" height="500px">
                    <h1 class="book" style="color:#28B9F5">Book Now</h1>
                </div> 
            </a>
            <div>
                <h1 style="color:#427A27">Yardy River Walk</h1><br />
                <div class="numbertext2">
                    <h3>2 / 5</h3>
                </div>
            </div>
        </div>

        <div class="mySlides fade">

            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Adventure">
                <div class="btnpr">
                    <img src="~/css/imgs/Yardy Park Life.jpeg" width="400px" height="500px">
                    <h1 class="book" style="color:#28B9F5">Book Now</h1>
                </div>
            </a>
            <div>
                <h1 style="color:#427A27">Yardy Park Life</h1><br />
                <div class="numbertext2">
                    <h3>3 / 5</h3>
                </div>
            </div>
        </div>

        <div class="mySlides fade">

            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Adventure">
                <div class="btnpr">
                    <img src="~/css/imgs/Yardy Horseback Riding.jpeg" width="400px" height="500px">
                    <h1 class="book" style="color:#28B9F5">Book Now</h1>
                </div>
            </a>
            <div>
                <h1 style="color:#427A27">Yardy Horseback Riding</h1><br />
                <div class="numbertext2">
                    <h3>4 / 5</h3>
                </div>
            </div>
        </div>


        <div class="mySlides fade">

            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Adventure">
                <div class="btnpr">
                    <img src="~/css/imgs/Breezy Hill ATV Dune Buggy.jpeg" width="630px" height="500px">
                    <h1 class="book" style="color:#28B9F5">Book Now</h1>
                </div>
            </a>
            <div>
                <h1 style="color:#427A27">Breezy Hill ATV Dune Buggy</h1><br />
                <div class="numbertext2">
                    <h3>5 / 5</h3>
                </div>
            </div>
        </div>

        <br>
        <h1>Yardy River Adventures </h1>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        
    </div> 

     

</section>

<br />
<br />
<br />
<br /> 
<br />
<br />
<br />
<br />
<br />
<br />

<section>

    <p>
        Adventures in harmony with nature, <br> 
        culture and communities.  Choose your <br />
        vibe!
    </p>

    <p>
        
        <ul>
            <li>easy going to intense</li>
            <li>
                explore on your own, as a family <br />
                or with friends
            </li> 
            <li>
                a quick 2-hour, half day or <br /> day-long adventure
            </li> 
            <li>
                discover the natural wonders of <br />
                the park or ascend to the hills for <br />
                breathtaking panoramic views.
            </li> 
 
        </ul>  
    </p> 

</section>  


<section class="stillphotos">

    <div class="gallery"> 
        <div class="photogallery">

            <img src="~/css/imgs/Confluence - Natures Jacuzzi.jpeg" width="400px" height="500px"> <br /> <br />
            <h1>Confluence - Natures Jacuzzi</h1>

        </div>

        <div class="photogallery">

            <img src="~/css/imgs/Food - Curried Ackee.jpeg" width="400px" height="500px"> <br /><br />
            <h1>Food - Curried Ackee</h1> 

        </div>
    </div>

    <div class="gallery2"> 
        <div class="photogallery">

            <img src="~/css/imgs/Roaring River .jpeg" width="400px" height="500px"> <br /><br />
            <h1>Roaring River</h1>

        </div>

        <div class="photogallery">

            <img src="~/css/imgs/Rustic Scenery - Garden Bed  2.jpeg" width="400px" height="500px"> <br /><br />
            <h1>Rustic Scenery - Garden Bed  2</h1>   

        </div>
    </div>

    <div class="gallery">
        
        <div class="photogallery">
            <video height="600px" width="800px" controls>
                <source src="~/css/imgs/Horseback Riding.mp4" />
            </video>
        </div> 

    </div>

</section> 


