
@{
    ViewData["Title"] = "Services";
}


<div style="text-align:center; justify-content:center; color:#427A27;">

    <div class="slideshow-container navbar-expand-lg"> 

        <div class="wrapper">

             <img class="pics" src="~/css/imgs8/One.png">

             <img class="pics" src="~/css/imgs8/Two.png">
            
             <img class="pics" src="~/css/imgs8/Three.png">
            
             <img class="pics" src="~/css/imgs8/Four.png">
            
             <img class="pics" src="~/css/imgs8/Five.png">
            
             <img class="pics" src="~/css/imgs8/Six.png">

        </div>

        <br />
        <br />

    </div> 

    <br />
    <br /> 

    <div class="graph2">

        <h1 class="tagline2"> #Jamaica’s Best Community Eco-Tourist Attraction </h1> 

    </div>

    <br />
    <br />
    
    <div class="graph" > 

        <div style="justify-content:center;">

            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Gallery">

                <img src="~/css/imgs/Rustic Scenery - Garden Bed  2.jpeg" width="200" height="auto"> 

                <br />
                <br />

                <div class="press">

                    <h4>View Gallery <i class="fas fa-angle-double-right"></i> </h4>

                </div>

            </a>

        </div>

    </div>

</div> 
        

        










