
@{
    ViewData["Title"] = "Services";
}



<div style="text-align:center; justify-content:center;"> 

    <div class="slideshow-container">
        
         <div class="cube">

            <div class="mySlides fade">

                <img class="caption" src="~/css/imgs4/RiverTubing44.jpg" width="80%" height="50%">

            </div> 

         </div>


        <div class="cube">

            <div class="mySlides fade"> 

                <img class="caption" src="~/css/imgs4/WalkTrails44.jpg" width="80%" height="50%">

            </div>

        </div>
          
        <div class="cube">

            <div class="mySlides fade">

                <img class="caption" src="~/css/imgs4/ParkLife44.jpg" width="80%" height="50%">

            </div> 

        </div>
        
        <div class="cube">

            <div class="mySlides fade">

                <img class="caption" src="~/css/imgs4/HorsebackRiding44.jpg" width="80%" height="50%">

            </div> 

        </div>
        
        <div class="cube">

            <div class="mySlides fade"> 

                <img class="caption" src="~/css/imgs4/breezyhilldunebuggy44.jpg" width="80%" height="50%">

            </div> 

        </div><br /><br /> 

        <div>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <br />
        
        <div class="graph2">

            <h1 class="tagline" style="color:#FDD402;">Explore your wild side!</h1>  

        </div>  

        <br />

       

        

        <br>


        
    </div> 

    <br />
    <br />
    <br /> 



    <div class="graph">

        <div class="expression" style="color:#FDD402;">

            <h4> Adventures in harmony with nature &#9474; culture &#9474; communities.</h4> <br /> 

            <h4> Explore according to your vibe! </h4> <br />

            <h4> easy going to intense &#9474; explore on your own, as a family or with friends</h4> <br />

            <h4 > a quick 2-hour, half day or day-long adventure </h4> <br />

            <h4> discover the natural wonders or breathtaking panoramic views </h4>

        </div>

       

    </div> 
    <br />
    <br />

    <div class="graph2">

        <h1 class="tagline2" style="color:#FDD402;">

            #Jamaica’s Best Community Eco-Tourist Attraction

        </h1> 

    </div>

    
    <br />
    <br />
    <br />

    <div class="graph2"> 

        <div class="gallerybtn">

            <div class="btn btn-group btn-primary">

                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Adventure">

                    <h4 style="color:white"> Book Now  </h4>

                </a>

            </div> 

        </div>

    </div>

    <br />
    <br />
    <br />

    <div class="graph" > 

        <div class="expression"> 

            <h4 style="color:#FDD402;">
                Adventures in harmony with nature, culture and communities. <br /><br />
                Choose your vibe! <br /><br />

                easy going to intense explore on your own, as a family
                or with friends <br /><br />
            </h4>

            <h4 style="color:#FDD402;">
                a quick 2-hour, half day or day-long adventure discover the natural wonders of 

                the park <br /><br /> or ascend to the hills for breathtaking panoramic views.
            </h4>

        </div>
       
        

        <div class="gallerybtn" style="padding-top:30px;"> 
            
            <div class="btn btn-group btn-primary">

                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gallery">

                    <img src="~/css/imgs/Rustic Scenery - Garden Bed  2.jpeg" width="200" height="auto"> <br /><br />

                    <h4 style="color:white">View Gallery</h4>

                </a> 

            </div> 
            
        </div>
        
    </div>

</div>









