
@{
    ViewData["Title"] = "Services";
}



<section class="content" style="text-align:center;"> 
    
    

    <div class="slideshow-container">
        
        <h1>Services</h1> 

        <h1>explore your wild side!</h1> 

        <div class="mySlides fade">
            
            <img src="~/css/imgs2/Yardy River Tubing 2.jpeg" width="700px" height="500px"> <br />

            <div class="centered">

                <h1>Yardy River Tubing</h1><br />
                
            </div>
            
            <div class="numbertext2">
                <h3>1 / 5</h3> 
            </div> 

        </div>


        <div class="mySlides fade">
            
            <img src="~/css/imgs2/Yardy River Walk 2.jpeg" width="500px" height="500px"> 

            <div class="centered">

                <h1>Yardy River Walk</h1><br />
                
            </div>
            
            <div class="numbertext2">
                <h3>2 / 5</h3>
            </div>

        </div>

        <div class="mySlides fade">

            <img src="~/css/imgs2/Yardy Park Life 2.jpeg" width="500px" height="500px">

            <div class="centered">

                <h1>Yardy Park Life</h1><br />
                
            </div>
            
            <div class="numbertext2">
                <h3>3 / 5</h3>
            </div>

        </div>

        <div class="mySlides fade">
            
            <img src="~/css/imgs2//Yardy Horseback Riding 2.jpeg" width="520px" height="500px">

            <div class="centered">

                <h1>Yardy Horseback <br /> Riding</h1><br />
                
            </div>
            
            <div class="numbertext2">
                <h3>4 / 5</h3>
            </div>

        </div>


        <div class="mySlides fade">
            
            <img src="~/css/imgs/Breezy Hill ATV Dune Buggy.jpeg" width="640px" height="500px">

            <div class="centered"> 
                
                <h1>Breezy Hill ATV <br /> Dune Buggy</h1><br /> 
                
            </div>

            <div class="numbertext2">
                <h3>5 / 5</h3>
            </div>

        </div>

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Adventure"> 
            <div class="btnpr"> 
                <h1 class="btn btn-group btn-primary">Book Now</h1>
            </div>
        </a> 

        <br>
        <h1>Yardy River Adventures </h1>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div> 
        
    </div> 

     

</section>

<br />
<br />
<br />
<br />
<br />
<br />

<section class="content" style="text-align:center;">

    
    <div>

        <p>
            Adventures in harmony with nature, <br>
            culture and communities.  Choose your <br />
            vibe!
        </p>

        <p>

            <ul>
                <li>easy going to intense</li>
                <li>
                    explore on your own, as a family <br />
                    or with friends
                </li>
                <li>
                    a quick 2-hour, half day or <br /> day-long adventure
                </li>
                <li>
                    discover the natural wonders of <br />
                    the park or ascend to the hills for <br />
                    breathtaking panoramic views.
                </li>

            </ul>
        </p>

    </div> 
    

</section>  





