
@{
    ViewData["Title"] = "Services";
}


<div class="greenline" >

    <div class="slideshow-container" style="position: relative; justify-content: center;">

        <div class="">

            <div class="cube">

                <div class="mySlides fade">

                    <img class="caption" src="~/css/imgs4/breezyhilldunebuggy40.jpg" width="auto" height="900">

                </div>

            </div>


            <div class="cube">

                <div class="mySlides fade">

                    <img class="caption" src="~/css/imgs4/HorsebackRiding40.jpg" width="auto" height="900">

                </div>

            </div>

            <div class="cube">

                <div class="mySlides fade">

                    <img class="caption" src="~/css/imgs4/ParkLife40.jpg" width="auto" height="900">

                </div>

            </div>

            <div class="cube">

                <div class="mySlides fade">

                    <img class="caption" src="~/css/imgs4/RiverTubing40.jpg" width="auto" height="900">

                </div>

            </div>

            <div class="cube">

                <div class="mySlides fade">

                    <img class="caption" src="~/css/imgs4/WalkTrails40.jpg" width="auto" height="900">

                </div>

            </div>

        </div>

    </div>

</div>

<div class="slideshow-container">

    <div>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div> 

</div>
    

<br />
<br />

<section style="text-align:center; justify-content:center; color:#427A27;">

    <div class="graph">

        <h1 class="tagline">Explore your wild side!</h1>

    </div>

    <br />
    <br /> 
    <br /> 

    <div class="graph2">

        <h1 class="tagline2"> 

            #Jamaica’s Best Community Eco-Tourist Attraction

        </h1> 

    </div>

    <br />
    <br />
    
    <div class="graph" > 

        <div class="gallerybtn" style="padding-top:30px;"> 
            
            <div class="btn btn-group">

                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gallery">

                    <img src="~/css/imgs/Rustic Scenery - Garden Bed  2.jpeg" width="auto" height="275"> <br />

                    <h4>View Gallery</h4>

                </a> 

            </div> 
            
        </div>
        
    </div>

</section>









